@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Source Sans 3', sans-serif;
  --color-purple: #8200ff;
  --color-purple-dark: #592d82;
  --color-gray-dark: #8c8c8c;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-purple);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

